.loader-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/loader.png);
  background-repeat: no-repeat;
  width: 92px;
  height: 92px;
  border-radius: 16px;
  background-size: cover;
}
